@model Entangled.Life.Web.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password | Entangled Life";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="postcontent nobottommargin clearfix">
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-lock"></i>Change Password</div>
        <div class="acc_content clearfix">

            @using (Html.BeginForm("ChangePassword", "Account", new {  }, FormMethod.Post, new { @id = "login-form", @class = "nobottommargin", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("Partials/_MessagesPartial")
                @Html.Partial("Partials/_HoneyPotPartial")

                <div class="col_full">
                    @Html.LabelFor(o => o.OldPassword)
                    @Html.PasswordFor(o => o.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(o => o.OldPassword, "", new { @class = "help-block text-danger formError" })
                </div>

                <div class="col_full">
                    @Html.LabelFor(o => o.NewPassword)
                    @Html.PasswordFor(o => o.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(o => o.NewPassword, "", new { @class = "help-block text-danger formError" })
                </div>

                <div class="col_full">
                    @Html.LabelFor(o => o.ConfirmPassword)
                    @Html.PasswordFor(o => o.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(o => o.ConfirmPassword, "", new { @class = "help-block text-danger formError" })
                </div>

                <div class="col_full">
                    <button class="button button-3d button-black nomargin" name="change-password-form-submit" value="changepassword">Change Password</button>
                </div>
            }

        </div>

    </div>
</div>


@section PageTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Change Password</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="@Url.Action("Index", "Account")">Account</a></li>
                <li class="active">Change password</li>
            </ol>
        </div>

    </section>
}

@section scripts{
    <script>
        (function ($) {
            $('#@Html.IdFor(o => Model.OldPassword)').focus();
        }(jQuery));
    </script>
}