@model Entangled.Life.Web.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Your Password? | Entangled Life"; // TODO: this suffix should be in master  every where. when we have time go through each page and remove
}

<div class="postcontent nobottommargin clearfix">
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
        <div class="acc_content clearfix">

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "login-form", @class = "nobottommargin" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("Partials/_MessagesPartial")
                @Html.Partial("Partials/_HoneyPotPartial")

                <div class="col_full">
                    @Html.LabelFor(o => o.Email)
                    @Html.TextBoxFor(o => o.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(o => o.Email, "", new { @class = "help-block text-danger formError" })
                </div>

                <div class="col_full">
                    <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Request Password Reset</button>
                </div>
            }

        </div>

    </div>
</div>

@section PageTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>My Account</h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

@section scripts{
    <script>
        (function ($) {
            $('#@Html.IdFor(o => Model.Email)').focus();
        }(jQuery));
    </script>
}