@model Entangled.Life.Web.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password | Entangled Life";
}

<div class="postcontent nobottommargin clearfix">
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
        <div class="acc_content clearfix">

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "login-form", @class = "nobottommargin" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("Partials/_MessagesPartial")
                @Html.Partial("Partials/_HoneyPotPartial")
                @Html.HiddenFor(o => o.Code)

                <div class="col_full">
                    @Html.LabelFor(o => o.Email)
                    @Html.TextBoxFor(o => o.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(o => o.Email, "", new { @class = "help-block text-danger formError" })
                </div>

                <div class="col_full">
                    @Html.LabelFor(o => o.Password)
                    @Html.PasswordFor(o => o.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(o => o.Password, "", new { @class = "help-block text-danger formError" })
                </div>

                <div class="col_full">
                    @Html.LabelFor(o => o.ConfirmPassword)
                    @Html.PasswordFor(o => o.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(o => o.Password, "", new { @class = "help-block text-danger formError" })
                </div>

                <div class="col_full">
                    <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Reset Password</button>
                </div>
            }

        </div>

    </div>
</div>

@section PageTitle
{
    <section id="page-title">
        <div class="container clearfix">
            <h1>Account</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Reset password</li>
            </ol>
        </div>
    </section>
}

@section scripts{
    <script>
        (function ($) {
            $('#@Html.IdFor(o => Model.Email)').focus();
        }(jQuery));
    </script>
}