@{
    bool isCookieConsentGiven = Html.IsCookieConsentGiven();
}
<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    @Styles.Render("~/resources/style")
    @Styles.Render("~/resources/css/style")
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <title>@ViewBag.Title | @AppConfiguration.Instance.SiteName</title>
    @RenderSection("seo", required: false)
    @{ Html.RenderPartial("Partials/_HeadAdditionalPartial"); }
</head>
<body class="stretched">
    <div id="wrapper" class="clearfix">
        @{Html.RenderPartial("Partials/_HeaderPartial");}
        @RenderSection("PageTitle", required: false)
        <section id="content">
            <div class="content-wrap">
                @if (!User.Identity.IsAuthenticated)
                {
                    Html.RenderPartial("Partials/_LoginModalPartial", new UserLoginViewModel());
                }
                <div class="container clearfix">
                    @RenderBody()
                    <div class="sidebar nobottommargin col_last clearfix">
                        <div class="sidebar-widgets-wrap">
                            <div class="widget widget_links clearfix dmc-getAjaxContent" id="sidebar_categories" data-url="@Url.Action("getcategorylist", "default")"></div>
                            <div class="widget clearfix @(User.Identity.IsAuthenticated ? "dmc-getAjaxContent" : string.Empty)" id="sidebar_favourites" data-url="@Url.Action("getfavouriteposts", "default")">
                                <div id="favourite-post-list-footer">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="promo promo-border promo-mini">
                                            <h3>Please be patient, posts are loading ...</h3>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="promo promo-border promo-mini">
                                            <h3>Logged in users can vote and add posts to Favourites.</h3>
                                            <a href="#modal-login" data-lightbox="inline" data-toggle="modal" data-target="modal-login" class="button button-large button-dark button-rounded">LOGIN</a>
                                        </div>
                                    }
                                </div>
                            </div>                            
                            <div class="widget clearfix dmc-getAjaxContent" id="sidebar_recent_posts" data-url="@Url.Action("getrecentposts", "default")"></div>
                            <div class="widget clearfix dmc-getAjaxContent" id="sidebar_tags" data-url="@Url.Action("gettaglist", "default")"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @{Html.RenderPartial("Partials/_FooterPartial");}
    </div>
    <div id="gotoTop" class="icon-angle-up"></div>
    <form class="hide" id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
    @Scripts.Render("~/scripts/jquery")
    <script>window.jQuery || document.write('<script src="@Url.Content("~/resources/js/jquery.js")"><\/script>')</script>
    @Scripts.Render("~/scripts/js")
    @RenderSection("scripts", false)
    @if (isCookieConsentGiven)
    {
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script async defer src="//www.instagram.com/embed.js"></script>
        <script>
        (function () {
            window.dmc.util.initYT();
        })();
        </script>
    }
</body>
</html>