@model Entangled.Life.Web.ViewModels.AdminCategoryViewModel

@{
    ViewBag.Title = Model.IsNewObject ? "Create Category" : "Edit Category";
}

@using (Html.BeginForm())
{ 
    @Html.Partial("Partials/_ValidationPartial")

    <div class="form-group">
        @Html.LabelFor(o => o.IntroImageId)
        @Html.DropDownListFor(o => o.IntroImageId, Model.Images, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Categories)
        @Html.DropDownListFor(o => o.ParentId, Model.Categories, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Status)
        @Html.EnumDropDownListFor(o => o.Status, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Title)
        @Html.TextBoxFor(o => o.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Description)
        @Html.TextAreaFor(o => o.Description, new { @class = "form-control replaceEditor" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Slug)
        @Html.TextBoxFor(o => o.Slug, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(o => o.Published)
        @Html.TextBoxFor(o => o.Published, new { @class = "form-control" })
    </div>

    if (!Model.IsNewObject)
    {
        @Html.HiddenFor(o => o.Id)
    }

    <p>
        <input type="submit" value="Save" class="btn btn-default" />
    </p>
}
